html        {font-family: monospace, sans-serif;}
body        {width:790px; text-align: justify;}
h1          {background-image:url(logo.png);background-repeat:no-repeat;padding-left:40px;background-position:left center;}
/*h1:before   {content: "# ";}*/
h2:before   {content: "## ";}
h3:before   {content: "### ";}
h4:before   {content: "#### ";}
h5:before   {content: "##### ";}
h6:before   {content: "###### ";}
b:before, b:after   {content: "**";}
i:before, i:after   {content: "*";}
dt          {float: left;margin-right: 15px;}
dd          {margin-left: 100px;}
hr          {color:#000; border-style: dashed;margin-top:20px;}
a           {color:inherit; text-decoration: underline;}
section     {margin:10px;}
section#archive  {color:#666;}

@media print {
    a               {text-decoration: none;}
    section#archive {display:none;}
    .noprint        {display:none;}
}
